<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dogs Page</title>
</head>
<body>
  <h2>This is dogs page</h2>

  <% for(var i=0; i< dogs.length; i++) { %>
    <div>
      <span>Name: </span> <%= dogs[i].name %>
      <br><span>Breed: </span> <%= dogs[i].breed %>
    </div><br>
  <% } %>

  <a href="/add">Add new Dog</a>
  
</body>
</html>